{% load static %}
<div class="header">
    <div class="logo-container">
        <img src="{% static 'images/krill.png' %}" alt="Krill Logo">
        <h2>Krill</h2>
    </div>
    <div class="right-controls">
        <button id="menu-btn">
            <span class="material-icons-round">
                menu
            </span>
        </button>
        <div class="dark-mode">
            <span class="material-icons-round {% if not user_preference.dark_mode %}active{% endif %}">
                light_mode
            </span>
            <span class="material-icons-round {% if user_preference.dark_mode %}active{% endif %}">
                dark_mode
            </span>
        </div>

        <div class="profile">
            <div class="info">
                <p>Hey, <b>{{ user.first_name|default:user.username }}</b></p>
                <small class="text-muted">{{ user.groups.first.name|default:"User" }}</small>
            </div>
        </div>
    </div>
</div>
