{# Base template for Krill pages #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krill</title>
    <!-- Add favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/krill.png' %}">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {# Page title #}
    <title>{% block title %}Krill{% endblock title %}</title>

    {# Extra header content #}
    {% block extrahead %}{% endblock extrahead %}
</head>
<body {% if user.is_authenticated and user.preference.dark_mode %}class="dark-mode-variables"{% endif %}>
    <!-- Page Layout -->
    {% block layout%}{% endblock %}

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
