---
openapi: 3.0.3
info:
  title: Krill
  description: |-
    Krill is free open source software for storing information about biological samples.  It handles geneology of assays and their storage locations.
  termsOfService: http://krill.olsonjp.com/terms/
  contact:
    email: jacob.p.olson87@gmail.com
  license:
    name: GPL v3.0
    url: https://www.gnu.org/licenses/gpl-3.0.en.html#license-text
  version: '0.1'
externalDocs:
  description: Find out more about Krill
  url: https://github.com/olsonjp/krill
servers:
  - url: https://krill.olsonjp.com/api/v1
tags:
  - name: sample
    description: Scientific samples
    externalDocs:
      description: Find out more
      url: http://swagger.io
  - name: storage
    description: Storage locations
  - name: audit
    description: Automated audits of samples and their locations
paths:
  /sample:
    put:
      tags:
        - sample
      summary: Update an existing sample
      description: Update an existing sample by Id
      operationId: updatesample
      requestBody:
        description: Update an existent sample in the storage
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sample'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sample'          
            application/xml:
              schema:
                $ref: '#/components/schemas/sample'
        '400':
          description: Invalid ID supplied
        '404':
          description: sample not found
        '405':
          description: Validation exception
      security:
        - samplestorage_auth:
            - write:samples
            - read:samples
    post:
      tags:
        - sample
      summary: Add a new sample to the storage
      description: Add a new sample to the storage
      operationId: addsample
      requestBody:
        description: Create a new sample in the storage
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sample'
          application/xml:
            schema:
              $ref: '#/components/schemas/sample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/sample'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sample'          
            application/xml:
              schema:
                $ref: '#/components/schemas/sample'
        '405':
          description: Invalid input
      security:
        - samplestorage_auth:
            - write:samples
            - read:samples
    get:
      tags:
        - sample
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sample'
  /sample/findByStatus:
    get:
      tags:
        - sample
      summary: Finds samples by status
      description: Multiple status values can be provided with comma separated strings
      operationId: findsamplesByStatus
      parameters:
        - name: status
          in: query
          description: Status values that need to be considered for filter
          required: false
          explode: true
          schema:
            type: string
            default: available
            enum:
              - available
              - pending
              - sold
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/sample'          
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/sample'
        '400':
          description: Invalid status value
      security:
        - samplestorage_auth:
            - write:samples
            - read:samples
  /sample/findByTags:
    get:
      tags:
        - sample
      summary: Finds samples by tags
      description: Multiple tags can be provided with comma separated strings. Use tag1, tag2, tag3 for testing.
      operationId: findsamplesByTags
      parameters:
        - name: tags
          in: query
          description: Tags to filter by
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/sample'          
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/sample'
        '400':
          description: Invalid tag value
      security:
        - samplestorage_auth:
            - write:samples
            - read:samples
  /sample/{sampleId}:
    get:
      tags:
        - sample
      summary: Find sample by ID
      description: Returns a single sample
      operationId: getsampleById
      parameters:
        - name: sampleId
          in: path
          description: ID of sample to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sample'          
            application/xml:
              schema:
                $ref: '#/components/schemas/sample'
        '400':
          description: Invalid ID supplied
        '404':
          description: sample not found
      security:
        - api_key: []
        - samplestorage_auth:
            - write:samples
            - read:samples
    post:
      tags:
        - sample
      summary: Updates a sample in the storage with form data
      description: ''
      operationId: updatesampleWithForm
      parameters:
        - name: sampleId
          in: path
          description: ID of sample that needs to be updated
          required: true
          schema:
            type: integer
            format: int64
        - name: name
          in: query
          description: Name of sample that needs to be updated
          schema:
            type: string
        - name: status
          in: query
          description: Status of sample that needs to be updated
          schema:
            type: string
      responses:
        '405':
          description: Invalid input
      security:
        - samplestorage_auth:
            - write:samples
            - read:samples
    delete:
      tags:
        - sample
      summary: Deletes a sample
      description: delete a sample
      operationId: deletesample
      parameters:
        - name: api_key
          in: header
          description: ''
          required: false
          schema:
            type: string
        - name: sampleId
          in: path
          description: sample id to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '400':
          description: Invalid sample value
      security:
        - samplestorage_auth:
            - write:samples
            - read:samples
  /sample/{sampleId}/uploadImage:
    post:
      tags:
        - sample
      summary: uploads an image
      description: ''
      operationId: uploadFile
      parameters:
        - name: sampleId
          in: path
          description: ID of sample to update
          required: true
          schema:
            type: integer
            format: int64
        - name: additionalMetadata
          in: query
          description: Additional Metadata
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - samplestorage_auth:
            - write:samples
            - read:samples
  /storage/inventory:
    get:
      tags:
        - storage
      summary: Returns sample inventories by status
      description: Returns a map of status codes to quantities
      operationId: getInventory
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int32
      security:
        - api_key: []
  /storage/order:
    post:
      tags:
        - storage
      summary: Place an order for a sample
      description: Place a new order in the storage
      operationId: placeOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
          application/xml:
            schema:
              $ref: '#/components/schemas/Order'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '405':
          description: Invalid input
  /storage/order/{orderId}:
    get:
      tags:
        - storage
      summary: Find purchase order by ID
      description: For valid response try integer IDs with value <= 5 or > 10. Other values will generate exceptions.
      operationId: getOrderById
      parameters:
        - name: orderId
          in: path
          description: ID of order that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'          
            application/xml:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid ID supplied
        '404':
          description: Order not found
    delete:
      tags:
        - storage
      summary: Delete purchase order by ID
      description: For valid response try integer IDs with value < 1000. Anything above 1000 or nonintegers will generate API errors
      operationId: deleteOrder
      parameters:
        - name: orderId
          in: path
          description: ID of the order that needs to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: Order not found
  /audit:
    post:
      tags:
        - audit
      summary: Create audit
      description: This can only be done by the logged in audit.
      operationId: createaudit
      requestBody:
        description: Created audit object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/audit'
          application/xml:
            schema:
              $ref: '#/components/schemas/audit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/audit'
      responses:
        default:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/audit'
            application/xml:
              schema:
                $ref: '#/components/schemas/audit'
  /audit/createWithList:
    post:
      tags:
        - audit
      summary: Creates list of audits with given input array
      description: Creates list of audits with given input array
      operationId: createauditsWithListInput
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/audit'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/audit'          
            application/xml:
              schema:
                $ref: '#/components/schemas/audit'
        default:
          description: successful operation
  /audit/login:
    get:
      tags:
        - audit
      summary: Logs audit into the system
      description: ''
      operationId: loginaudit
      parameters:
        - name: auditname
          in: query
          description: The audit name for login
          required: false
          schema:
            type: string
        - name: password
          in: query
          description: The password for login in clear text
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the audit
              schema:
                type: integer
                format: int32
            X-Expires-After:
              description: date in UTC when token expires
              schema:
                type: string
                format: date-time
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
        '400':
          description: Invalid auditname/password supplied
  /audit/logout:
    get:
      tags:
        - audit
      summary: Logs out current logged in audit session
      description: ''
      operationId: logoutaudit
      parameters: []
      responses:
        default:
          description: successful operation
  /audit/{auditname}:
    get:
      tags:
        - audit
      summary: Get audit by audit name
      description: ''
      operationId: getauditByName
      parameters:
        - name: auditname
          in: path
          description: 'The name that needs to be fetched. Use audit1 for testing. '
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/audit'          
            application/xml:
              schema:
                $ref: '#/components/schemas/audit'
        '400':
          description: Invalid auditname supplied
        '404':
          description: audit not found
    put:
      tags:
        - audit
      summary: Update audit
      description: This can only be done by the logged in audit.
      operationId: updateaudit
      parameters:
        - name: auditname
          in: path
          description: name that need to be deleted
          required: true
          schema:
            type: string
      requestBody:
        description: Update an existent audit in the storage
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/audit'
          application/xml:
            schema:
              $ref: '#/components/schemas/audit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/audit'
      responses:
        default:
          description: successful operation
    delete:
      tags:
        - audit
      summary: Delete audit
      description: This can only be done by the logged in audit.
      operationId: deleteaudit
      parameters:
        - name: auditname
          in: path
          description: The name that needs to be deleted
          required: true
          schema:
            type: string
      responses:
        '400':
          description: Invalid auditname supplied
        '404':
          description: audit not found
components:
  schemas:
    Order:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        sampleId:
          type: integer
          format: int64
          example: 198772
        quantity:
          type: integer
          format: int32
          example: 7
        shipDate:
          type: string
          format: date-time
        status:
          type: string
          description: Order Status
          example: approved
          enum:
            - placed
            - approved
            - delivered
        complete:
          type: boolean
      xml:
        name: order
    Customer:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 100000
        auditname:
          type: string
          example: fehguy
        address:
          type: array
          xml:
            name: addresses
            wrapped: true
          items:
            $ref: '#/components/schemas/Address'
      xml:
        name: customer
    Address:
      type: object
      properties:
        street:
          type: string
          example: 437 Lytton
        city:
          type: string
          example: Palo Alto
        state:
          type: string
          example: CA
        zip:
          type: string
          example: '94301'
      xml:
        name: address
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Dogs
      xml:
        name: category
    audit:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        auditname:
          type: string
          example: theaudit
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: James
        email:
          type: string
          example: john@email.com
        password:
          type: string
          example: '12345'
        phone:
          type: string
          example: '12345'
        auditStatus:
          type: integer
          description: audit Status
          format: int32
          example: 1
      xml:
        name: audit
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: tag
    sample:
      required:
        - name
        - photoUrls
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        name:
          type: string
          example: doggie
        category:
          $ref: '#/components/schemas/Category'
        photoUrls:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: photoUrl
        tags:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/Tag'
        status:
          type: string
          description: sample status in the storage
          enum:
            - available
            - pending
            - sold
      xml:
        name: sample
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      xml:
        name: '##default'
  requestBodies:
    sample:
      description: sample object that needs to be added to the storage
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/sample'
        application/xml:
          schema:
            $ref: '#/components/schemas/sample'
    auditArray:
      description: List of audit object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/audit'
  securitySchemes:
    samplestorage_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://samplestorage3.swagger.io/oauth/authorize
          scopes:
            write:samples: modify samples in your account
            read:samples: read your samples
    api_key:
      type: apiKey
      name: api_key
      in: header